<table style="width:100%">
  <tr>
    <td><img src="{logoPath}"></td>
    <td align="right"><strong>Okeanos Club</strong><br/>
		" Le jardin d'Anatole "<br/>
		64 cours de la libération<br/>
		38100 GRENOBLE</td>
  </tr>
</table>

<h2>Attestation d'adhésion</h2>

<p>Cette attestation confirme l’inscription de {adherentNom} au club de plongée Okeanos pour la saison {saisonLabel}.<br/>
Le montant de l’adhésion s’élève à {adhesionMontant} euros. Facture acquittée le {adhesionDate}.</p>
<p>Sincères salutations.<p>

<img align="right" src="{signatuePath}">

<footer>http://www.okeanos-grenoble.fr/
Agrément jeunesse et sports n° 0381015110, FFESSM n° 14380184</footer>