<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>OKEANOS : l'info du club !</title>
	</head>
	<body style="width: 600px; margin-left: auto; margin-right: auto; font-family: 'Helvetica Neue', Helvetica, 'Times New Roman', Arial; color: #56667d;">
		<img src="http://www.okeanos-grenoble.fr/mailings/images/header_newsletter.jpg" width="600" height="150" alt="OKEANOS : l'info du club !">
		
		<h1 style="border: 1px solid #BAC2CC; background-color: #c8cfd8; color: #324258; padding: 15px; font-size: 18px; font-weight: normal; margin: 0px; margin-bottom: 5px;">
			Participation aux entreinements</h1>
		
		<div style="border: 1px solid grey; padding: 5px; letter-spacing: 1px; font-size: 12px;">
			<h2 style="color: #455670; padding: 10px; padding-left: 25px; font-size: 20px; font-weight: bold; background: url(http://www.okeanos-grenoble.fr/images/sampledata/puce.png) no-repeat left center;">
				Vendredi 30/03/2018
			</h2>
			<p>Vous n'avez pas encore précisé votre présence pour la prochaine séance :</p>
			
			<button type="button" style="color: #fff; background-color: #5bc0de;border-color: #46b8da; margin: 5px; padding: 6px 12px;">Présent</button>
			<button type="button" style="color: #fff; background-color: #f0ad4e;border-color: #eea236; margin: 5px; padding: 6px 12px;">Ne sais pas</button>
			<button type="button" style="color: #fff; background-color: #d9534f;border-color: #d43f3a; margin: 5px; padding: 6px 12px;">Absent</button>
				
			<h2 style="color: #455670; padding: 10px; padding-left: 25px; font-size: 20px; font-weight: bold; background: url(http://www.okeanos-grenoble.fr/images/sampledata/puce.png) no-repeat left center;">
				Ma participation
			</h2>
			<p>Pour limiter le nombre de mail de relance, nous vous conseillons de saisir votre participation aux prochaines séance " :
				<a href="http://brouvier.myds.me:8080" target="_blank">ma participation</a>.</p>
			
			<p style="text-align: right; padding: 8px; font-size: 12px; font-style: italic; font-weight: bold; letter-spacing: 0px; text-shadow: #768296 0px -1px 0px; color: #56667d;">OKEANOS TEAM</p>
			<p style="border: 1px solid #b6bec9; background-color: #e7eaee; color: #96a2b3; margin-top: 5px; text-align: center; font-family: Arial; font-size: 10px; font-weight: bold; 
				line-height: 16px; padding: 10px;">OKEANOS<br>
					<a href="http://www.okeanos-grenoble.fr" target="_blank" style="color: #3e89fa;">www.okeanos-grenoble.fr</a><br>
					<a href="" target="_blank" style="color: #3e89fa;">Désinscription</a>
			</p>
		</div>
	</body>
</html>