<div class="row">
    <h2 class="page-header">Formulaire d'adhésion - Saison {{currentSaison.label}}</h2>

    <form ng-submit="save()" class="form-horizontal">
        <div class="col">
            <h4 class="page-header">Mon adhésion</h4>

            <div class="form-group">
                <label for="selectLicence" class="col-sm-3 control-label">Ma licence FFESSM :</label>
                <div class="col-sm-9">
                    <div class="radio-inline" ng-repeat="licence in licenceList">
                        <label>
                            <input type="radio" ng-model="adherentInfoSaison.fk_ffessm_licence_id" value={{licence.id}}>
                            {{licence.label}} ({{licence.price}}€)
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="optionsAdhesion1" class="col-sm-3 control-label">Mon adhésion :</label>
                <div class="col-sm-9">
                    <div class="radio-inline" ng-repeat="subscription in subscriptionList">
                        <label>
                            <input type="radio" ng-model="adherentInfoSaison.fk_subscription_id" value={{subscription.id}}>
                            {{subscription.label}} ({{subscription.price}}€)
                        </label>
                    </div>
                    <p>La cotisation couvre l'encadrement piscine et le matériel de plongée en piscine tout au long de la saison. Attention, pour le coût des sorties n'est pas compris dans la cotisation.</p>
                </div>
            </div>

            <div class="form-group">
                <label for="selectInsurance" class="col-sm-3 control-label">Assurance : </label>
                <div class="col-sm-9">
                    <div class="checkbox" ng-show="adherentInfoSaison.membershipType !== 'hockey'">
                        <select id="selectInsurance" class="form-control" ng-model="adherentInfoSaison.fk_insurance_id" ng-options="insurance.id as insurance.label + ' (' + insurance.price + '€)' for insurance in insuranceList">
                    </select>
                    </div>
                    <p>La licence est une assurance responsabilité civile pour les entraînements et les sorties. Certaines assurances vous couvrent pour les sports à risques, y compris la plongée. AXA, assureur officiel de la FFESSM, propose des contrats d’assurances individuels pour les licenciés (détails sur le site http://www.cabinet-lafont.com ou sur papier sur demande).</p>
                </div>
            </div>

            <div class="form-group">
                <label for="selectPrice" class="col-sm-3 control-label">MONTANT TOTAL : </label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input id="inputName" type="text" class="form-control" ng-model="totalPrice" disabled />
                        <span class="input-group-addon">€</span>
                    </div>
                    <p>La cotisation est à régler par chèque à l’ordre d’Okeanos. Vous pouvez régler en plusieurs fois.</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Droit à l'image : </label>
                <div class="col-sm-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="adherentInfoSaison.picture_authorisation"> J'autorise le club Okeanos à prendre, afficher et diffuser, des
photographies me représentant dans un lieu public ou privé, notamment par l’intermédiaire du site Internet du club
Okéanos (http://www.okeanos-grenoble.fr) à utilise des photos de moi à des fin de communication.
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Demande d'attestation : </label>
                <div class="col-sm-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="adherentInfoSaison.nead_certificate"> Je souhaite que le club me fournisse une attestation d’adhésion.
                        </label>
                    </div>
                </div>
            </div>

            <h4 class="page-header">Section plongée</h4>

            <div class="form-group">
                <label for="selectActualTraining" class="col-sm-3 control-label">Niveau actuel : </label>
                <div class="col-sm-9">
                    <select id="selectActualTraining" class="form-control" ng-model="adherentInfoSaison.fk_actual_training_id" ng-options="actualLevel.id as actualLevel.label for actualLevel in divingTrainingList">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="selectTraining" class="col-sm-3 control-label">Niveau Préparé : </label>
                <div class="col-sm-9">
                    <select id="selectTraining" class="form-control" ng-model="adherentInfoSaison.fk_training_id" ng-options="preparedLevel.id as preparedLevel.label for preparedLevel in divingTrainingList">
                    </select>
                </div>
            </div>

            <h4 class="page-header">Section hockey</h4>

            <div class="form-group">
                <label for="selectTeam" class="col-sm-3 control-label">Equipe : </label>
                <div class="col-sm-9">
                    <select id="selectTeam" class="form-control" ng-model="adherentInfoSaison.fk_team_id" ng-options="team.id as team.label for team in hockeyTeamList">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary">Tout mettre à jour</button>
                </div>
            </div>
        </div>

    </form>
</div>

<div class="row" ng-show='adherentInfoSaison.id'>
    <div class="col-md-12">
        <h3 class="page-header">Documents joints</h3>
        <p>Les fichier doivent être au format PDF et leur taille ne doit pas dépasser 1Mo.</p>
        <h4 class="page-header">Certificat médical</h4>
        <p>Le certificat médical est obligatoire pour les entraînements piscine (plongée/hockey), et les sorties. Vous devez conserver l’original et nous fournir une copie. Le certificat médical doit également préciser que vous êtes apte à passer un niveau, à pratiquer la compétition (hockey) ou enseigner et encadrer la plongée. Selon la formation engagée ou l’âge, il doit être délivré par le médecin suivant :</p>
        <ul>
            <li>Plongée Explo : tous médecins</li>
            <li>Préparation et passage niveau 1 : tous médecins</li>
            <li>Préparation et passage autres niveaux : médecin du sport, médecin fédéral ou médecin hyperbare</li>
            <li>Compétition : médecin du sport, médecin fédéral ou médecin hyperbare</li>
            <li>Jeune plongeur 8-14 ans : médecin fédéral</li>
            <li>Jeune plongeur +12 ans avec niveau 1 : tous médecins</li>
            <li>Encadrant : médecin du sport, médecin fédéral ou médecin hyperbare</li>
        </ul>
        <p>Modèle fourni par la fédération : <a href="http://www.okeanos-grenoble.fr/images/docs/Certificat_Medical.pdf" target="_blank">Télécharger</a><br/> Liste des médecin hyperbare : <a href="https://www.ffessmaura.fr/images/le-comite/medical/2017/Liste_des_medecins_federaux_consultants_du_Comite_AURA_au_13-02-2017.pdf" target="_blank">Télécharger</a></p>
        <form name="sickNoteForm" role="form">
            <input class="btn" ngf-select ng-model="sickNoteFile" name="sickNoteFile" type="file" ngf-accept="'.pdf'" ngf-max-size="1MB">
            <i ng-show="sickNoteForm.sickNoteFile.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 1M</i>
            <button class="btn btn-warning" ng-click="sickNoteFile = null" ng-show="sickNoteFile">Annuler</button>
            <button class="btn btn-info" type="submit" ng-click="sickNoteSubmit()" ng-show="sickNoteFile">Importer le fichier</button>
        </form>
        <div class="alert alert-info" ng-show="adherentInfoSaison.fk_sick_note_id"><a href="{{sickNoteUrl}}" target="_blank">Télécharger le fichier éxistant</a></div>

        <h4 class="page-header">Accord parental pour les mineurs</h4>
        <p>Obligatoire pour les personnes mineurs. Elle doit reprendre le model suivant :</p>
        <p>Je soussigné(e) ...................................................................., agissant en qualité de père/mère/tuteur, autorise le mineur ................................................, né le .../.../..... à pratiquer la plongée subaquatique ainsi que les activités connexes dans le cadre du club en toute connaissance des risques encourus. De plus, j’accepte que les responsables du club autorisent, en mon nom, une prise en charge médicalisée en cas de besoin.<br/> Je m’engage à vérifier qu’un encadrant est présent avant de laisser mon fils/ma fille à la piscine.<br/> Fait à ......................... le .../.../........ Signature</p>

        <form name="parentalAgreementForm" role="form">
            <input class="btn" ngf-select ng-model="parentalAgreementFile" name="parentalAgreementFile" type="file" ngf-accept="'.pdf'" ngf-max-size="1MB">
            <i ng-show="parentalAgreementForm.parentalAgreementFile.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 1M</i>
            <button class="btn btn-warning" ng-click="parentalAgreementFile = null" ng-show="parentalAgreementFile">Annuler</button>
            <button class="btn btn-info" type="submit" ng-click="parentalAgreementSubmit()" ng-show="parentalAgreementFile">Importer le fichier</button>
        </form>
        <div class="alert alert-info" ng-show="adherentInfoSaison.fk_parental_agreement_id"><a href="{{parentalAgreementUrl}}" target="_blank">Télécharger le fichier éxistant</a></div>
    </div>
</div>

<div class="row" ng-show="modeDebug">
    <div class="col-md-12">
        <h2 class="page-header">Debug</h2>
        <pre>adherentInfoSaison = {{adherentInfoSaison | json}}</pre>
        <pre>sickNoteUrl = {{sickNoteUrl}}</pre>
        <pre>parentalAgreementUrl = {{parentalAgreementUrl}}</pre>
    </div>
</div>
