<div class="row">
    <div class="col-md-12">
        <form ng-submit="saveItem()" class="form-horizontal">
            <h2 class="page-header">Mes informations</h2>

            <div class="form-group">
                <label for="inputLicenceNumber" class="col-sm-2 control-label">Numéro de licence</label>
                <div class="col-sm-10">
                    <input id="inputLicenceNumber" type="text" class="form-control" ng-model="adherent.licence_number" /></div>
            </div>

            <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Nom</label>
                <div class="col-sm-10">
                    <input id="inputName" type="text" class="form-control" required="required" ng-model="adherent.lastname" /></div>
            </div>

            <div class="form-group">
                <label for="inputFirstName" class="col-sm-2 control-label">Prénom</label>
                <div class="col-sm-10">
                    <input id="inputFirstName" type="text" class="form-control" required="required" ng-model="adherent.firstname" /></div>
            </div>

            <div class="form-group">
                <label for="inputBirthday" class="col-sm-2 control-label">Date de naissance</label>
                <div class="col-sm-10">
                    <input id="inputBirthday" type="date" class="form-control" required="required" ng-model="adherent.birsthday" placeholder="yyyy-MM-dd'T'HH:mm:ss.SSS" /></div>
            </div>

            <div class="form-group">
                <label for="inputBirthplace" class="col-sm-2 control-label">Lieu de naissance</label>
                <div class="col-sm-10">
                    <input id="inputBirthplace" type="text" class="form-control" required="required" ng-model="adherent.birthplace" /></div>
            </div>

            <div class="form-group">
                <label for="inputTel" class="col-sm-2 control-label">Téléphone</label>
                <div class="col-sm-10">
                    <input id="inputTel" type="tel" class="form-control" required="required" ng-model="adherent.tel_number" /></div>
            </div>

            <div class="form-group">
                <label for="inputAddress" class="col-sm-2 control-label">Adresse</label>
                <div class="col-sm-10">
                    <input id="inputAddress" type="text" class="form-control" required="required" ng-model="adherent.adresse" /></div>
            </div>

            <div class="form-group">
                <label for="inputPostalCode" class="col-sm-2 control-label">Code postal</label>
                <div class="col-sm-10">
                    <input id="inputPostalCode" type="tel" pattern="[0-9]{5}" class="form-control" required="required" ng-model="adherent.zip_code" /></div>
            </div>

            <div class="form-group">
                <label for="inputCity" class="col-sm-2 control-label">Ville</label>
                <div class="col-sm-10">
                    <input id="inputCity" type="text" class="form-control" required="required" ng-model="adherent.city" />
                </div>
            </div>

            <div class="form-group">
                <label for="inputJob" class="col-sm-2 control-label">Profession</label>
                <div class="col-sm-10">
                    <input id="inputJob" type="text" class="form-control" required="required" ng-model="adherent.job" />
                </div>
            </div>

            <h4 class="page-header">Personne à contacter en cas d'accident</h4>

            <div class="form-group">
                <label for="inputNameAcc" class="col-sm-2 control-label">Contact</label>
                <div class="col-sm-10">
                    <input id="inputNameAcc" type="text" class="form-control" required="required" ng-model="adherent.emergency_contact" /></div>
            </div>

            <div class="form-group">
                <label for="inputTelAcc" class="col-sm-2 control-label">Téléphone</label>
                <div class="col-sm-10">
                    <input id="inputTelAcc" type="tel" class="form-control" required="required" ng-model="adherent.emergency_tel_number" /></div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Tout mettre à jour</button>
                </div>
            </div>

        </form>
    </div>
</div>
<div class="row" ng-show="modeDebug">
    <div class="col-md-12">
        <h2 class="page-header">Debug</h2>
        <pre>adherent = {{adherent | json}}</pre>
    </div>
</div>
