<div class="row">
    <div class="col-md-12">

        <h2>Liste des adhérents</h2>
        <article>

            <p>
                Chaîne de caractères à chercher : <input type="text" ng-model="searchText" />
            </p>
            <p>Saison : <select class="form-control" ng-model="currentSaison" ng-options="saison as saison.label for saison in saisonList" required="required">
                        </select></p>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <tbody>
                        <tr>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Numéro de téléphone</th>
                            <th>Date de naissance</th>
                            <th>Numéro de licence</th>
                            <th>Licence</th>
                            <th>Adhésion</th>
                            <th>Assurance</th>
                        </tr>
                        <tr ng-repeat="adherent in adherentList | filter:searchText" ng-click="gotoEditForm(user)">
                            <td>{{adherent.info.firstname}}</td>
                            <td>{{adherent.info.lastname}}</td>
                            <td>{{adherent.info.tel_number}}</td>
                            <td>{{adherent.info.birsthday | date:'MM/dd/yyyy'}}</td>
                            <td>{{adherent.info.licenceNumber}}</td>
                            <td>{{adherent.licence.label}}</td>
                            <td>{{adherent.subscription.label}}</td>
                            <td>{{adherent.insurance.label}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </div>
</div>
<!-- /. ROW  -->
<hr />
<div class="row">
    <div class="col-md-12">
        <h2>Debug</h2>
        <pre>currentSaison = {{currentSaison | json}}</pre>
        <pre>saisonList = {{saisonList | json}}</pre>
        <pre>adherentList = {{adherentList | json}}</pre>
    </div>
</div>
<!-- /. ROW  -->
