<div class="row">
    <h2 class="page-header">Fiche adhérent pour la saison en cours : {{currentSaison.label}}</h2>

    <form ng-submit="save()" class="form-horizontal">
        <div class="col">
            <h4 class="page-header">Mon adhésion</h4>

            <div class="form-group">
                <label for="selectLicence" class="col-sm-3 control-label">Ma licence FFESSM :</label>
                <div class="col-sm-9">
                    <div class="radio-inline" ng-repeat="licence in licenceList">
                        <label>
                            <input type="radio" ng-model="adherentInfoSaison.fk_ffessm_licence_id" value={{licence.id}}>
                            {{licence.label}} ({{licence.price}}€)
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="optionsAdhesion1" class="col-sm-3 control-label">Mon adhésion :</label>
                <div class="col-sm-9">
                    <div class="radio-inline" ng-repeat="subscription in subscriptionList">
                        <label>
                            <input type="radio" ng-model="adherentInfoSaison.fk_subscription_id" value={{subscription.id}}>
                            {{subscription.label}} ({{subscription.price}}€)
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="selectInsurance" class="col-sm-3 control-label">Assurance : </label>
                <div class="col-sm-9">
                    <div class="checkbox" ng-show="adherentInfoSaison.membershipType !== 'hockey'">
                        <select id="selectInsurance" class="form-control" ng-model="adherentInfoSaison.fk_insurance_id" ng-options="insurance.id as insurance.label + ' (' + insurance.price + '€)' for insurance in insuranceList">
                    </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="selectPrice" class="col-sm-3 control-label">MONTANT TOTAL : </label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input id="inputName" type="text" class="form-control" ng-model="totalPrice" disabled />
                        <span class="input-group-addon">€</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Droit à l'image : </label>
                <div class="col-sm-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="adherentInfoSaison.picture_authorisation"> J'autorise le club à utilise des photos de moi à des fin de communication.
                        </label>
                    </div>
                </div>
            </div>

            <h4 class="page-header">Section plongée</h4>

            <div class="form-group">
                <label for="selectActualTraining" class="col-sm-3 control-label">Niveau actuel : </label>
                <div class="col-sm-9">
                    <select id="selectActualTraining" class="form-control" ng-model="adherentInfoSaison.fk_actual_training_id" ng-options="actualLevel.id as actualLevel.label for actualLevel in divingTrainingList">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="selectTraining" class="col-sm-3 control-label">Niveau Préparé : </label>
                <div class="col-sm-9">
                    <select id="selectTraining" class="form-control" ng-model="adherentInfoSaison.fk_training_id" ng-options="preparedLevel.id as preparedLevel.label for preparedLevel in divingTrainingList">
                    </select>
                </div>
            </div>

            <h4 class="page-header">Section hockey</h4>

            <div class="form-group">
                <label for="selectTeam" class="col-sm-3 control-label">Equipe : </label>
                <div class="col-sm-9">
                    <select id="selectTeam" class="form-control" ng-model="adherentInfoSaison.fk_team_id" ng-options="team.id as team.label for team in hockeyTeamList">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary">Tout mettre à jour</button>
                </div>
            </div>
        </div>

    </form>
</div>

<div class="row" ng-show='docImportReady()'>
    <div class="col-md-12">
        <h3 class="page-header">Documents joints</h3>
        <p>Les fichier doivent être au format PDF et leur taille ne doit pas dépasser 1Mo.</p>
        <h4 class="page-header">Certificat médical</h4>
        <p>Le certificat médical doit être valable pour toute la saison.</p>
        <form role="form" method='post' enctype='multipart/form-data' action='{{sickNote.url}}'>
            <div class="form-group">
                <input type='file' name='uploaded_file' ng-file-model="sickNote.file" accept=".pdf" required>
                <div class="alert alert-danger" role="alert" ng-show="sickNote.error">{{sickNote.error}}</div>
                <button class="btn btn-primary" type="submit" ng-show="!sickNote.error">Importer le document</button>
                <a href="{{sickNote.url}}" target="_blank">
                    <button class="btn btn-success" type="button" ng-show="sickNoteExportReady()">Télécharger le document</button>
                </a>
            </div>
        </form>
        <h4 class="page-header">Accord parental</h4>
        <p>Obligatoire pour les personnes mineurs.</p>
        <form role="form" method='post' enctype='multipart/form-data' action='{{parentalAgreement.url}}'>
            <div class="form-group">
                <div class="alert alert-danger" role="alert" ng-show="parentalAgreement.error">{{parentalAgreement.error}}</div>
                <div class="input-group">
                    <input type='file' name='uploaded_file' ng-file-model="parentalAgreement.file" accept=".pdf" required>
                    <button class="btn btn-primary" type="submit" ng-show="!parentalAgreement.error">Importer le document</button>
                    <a href="{{parentalAgreement.url}}" target="_blank">
                        <button class="btn btn-primary" type="button" ng-show="parentalAgreementExportReady()">Télécharger le document</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row" ng-show="modeDebug">
    <div class="col-md-12">
        <h2 class="page-header">Debug</h2>
        <pre>adherentInfoSaison = {{adherentInfoSaison | json}}</pre>
        <pre>sickNote = {{sickNote | json}}</pre>
        <pre>parentalAgreement = {{parentalAgreement | json}}</pre>
    </div>
</div>
