<div class="row">
    <div class="col-md-12">

        <h2>Liste des adhérents</h2>
        <div class="form-group row">
            <label class="col-sm-3 control-label">Chaîne de caractères à chercher</label>
            <div class="col-sm-3">
                <input type="text" ng-model="searchText" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label for="selectSaison" class="col-sm-3 control-label">Saison</label>
            <div class="col-sm-3">
                <select id="selectSaison" class="form-control" ng-model="currentSaisonId" ng-options="saison.id as saison.label for saison in saisonList" required="required">
                </select>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-info" ng-click="refreshList()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Rafraichir la liste</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <tbody>
                    <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Numéro de téléphone</th>
                        <th>Date de naissance</th>
                        <th>Numéro de licence</th>
                        <th>Licence</th>
                        <th>Adhésion</th>
                        <th>Assurance</th>
                        <th>Certificat médical</th>
                        <th>Certificat de licence</th>
                        <th>Accord parental</th>
                        <th>Contacter par mail</th>
                        <th>Editer</th>
                    </tr>
                    <tr ng-repeat="adherent in adherentList | filter:searchText" ng-click="gotoEditForm(user)" class="{{adherentClass(adherent)}}">
                        <td>{{adherent.info.firstname}}</td>
                        <td>{{adherent.info.lastname}}</td>
                        <td>{{adherent.info.tel_number}}</td>
                        <td>{{adherent.info.birsthday | date:'dd/MM/yyyy'}}</td>
                        <td>{{adherent.info.licence_number}}</td>
                        <td>{{adherent.licence.label}}</td>
                        <td>{{adherent.subscription.label}}</td>
                        <td>{{adherent.insurance.label}}</td>
                        <td class="text-center">
                            <a href="{{getSickNoteUrl(adherent.infoSaison)}}" target="_blank" ng-show="adherent.infoSaison.fk_sick_note_id">
                                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></a><span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:forestgreen" ng-show='adherent.infoSaison.validation_sick_note == true'></span>
                        </td>
                        <td class="text-center">
                            <a href="{{getCertificateLicenceUrl(adherent.infoSaison)}}" target="_blank" ng-show="adherent.infoSaison.fk_certificate_licence_id">
                                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span><span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:forestgreen"></span></a>
                        </td>
                        <td class="text-center">
                            <a href="{{getParentalAgreementUrl(adherent.infoSaison)}}" target="_blank" ng-show="adherent.infoSaison.fk_parental_agreement_id">
                                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></a><span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:forestgreen" ng-show='adherent.infoSaison.validation_parental_agreement == true'></span>
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-default">
                                <a href="mailto:{{adherent.account.mail}}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
                            </button>
                        </td>
                        <td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#editModal" ng-click="edit(adherent.info.fk_account_id, adherent.infoSaison.id)">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Validation de l'adhésion</h3>
            </div>
            <div class="modal-body">
                <form class="container-fluid" name="validationAdherentInfoSaisonForm" role="form">
                    <row>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputName" class="control-label">Nom</label>
                                <input id="inputName" type="text" class="form-control" ng-model="modalInfo.lastname" readonly/>
                            </div>

                            <div class="form-group">
                                <label for="inputFirstName" class="control-label">Prénom</label>
                                <input id="inputFirstName" type="text" class="form-control" ng-model="modalInfo.firstname" readonly/>
                            </div>

                            <div class="form-group">
                                <label for="inputAddress" class="control-label">Adresse</label>
                                <input id="inputAddress" type="text" class="form-control" ng-model="modalInfo.adresse" readonly/>
                            </div>

                            <div class="form-group">
                                <label for="inputPostalCode" class="control-label">Code postal</label>
                                <input id="inputPostalCode" type="tel" class="form-control" ng-model="modalInfo.zip_code" readonly/>
                            </div>

                            <div class="form-group">
                                <label for="inputCity" class="control-label">Ville</label>
                                <input id="inputCity" type="text" class="form-control" ng-model="modalInfo.city" readonly/>
                            </div>

                            <div class="form-group">
                                <label for="inputBirthday" class="control-label">Date de naissance</label>
                                <input id="inputBirthday" type="date" class="form-control" ng-model="modalInfo.birsthday" placeholder="yyyy-MM-dd" readonly/>
                            </div>
                        </div>

                        <div class="col-sm-6">

                            <div class="form-group">
                                <label for="inputLicenceNumber" class="control-label">Numéro de licence</label>
                                <input id="inputLicenceNumber" type="text" class="form-control" ng-model="modalInfo.licence_number" />
                            </div>


                            <div class="form-group">
                                <label for="selectTeam" class="control-label">Hockey - Equipe : </label>
                                <select id="selectTeam" class="form-control" ng-model="modalInfoSaison.fk_team_id" ng-options="team.id as team.label for team in hockeyTeamList"></select>
                            </div>

                            <div class="form-group">
                                <label for="checkbox_start">Processus de validation</label>
                                <div class="checkbox" data-toggle="tooltip" data-placement="bottom" title="Démarage de la phase de validation de l'adhésion. Le formulaire d'adhésion ne sera plus modifiable.">
                                    <label><input id="checkbox_start" type="checkbox" ng-model="modalInfoSaison.validation_start">Adhésion prise en compte</label>
                                </div>
                                <div class="checkbox" data-toggle="tooltip" data-placement="bottom" title="Les informations générales sont cohérentes.">
                                    <label><input id="checkbox_general_informations" type="checkbox" ng-model="modalInfoSaison.validation_general_informations">Validation des informations</label>
                                </div>
                                <div class="checkbox" data-toggle="tooltip" data-placement="bottom" title="La licence de l'adhérent a été commandée et son numéro est connu.">
                                    <label><input id="checkbox_licence" type="checkbox" ng-model="modalInfoSaison.validation_licence">Licence FFESSM</label>
                                </div>
                                <div class="checkbox" data-toggle="tooltip" data-placement="bottom" title="Le certificat médical est correctement remplis et respecte les contraites de l'activité soihaitée.">
                                    <label><input id="checkbox_sick_note" type="checkbox" ng-model="modalInfoSaison.validation_sick_note">Certificat médical</label>
                                </div>
                                <div class="checkbox" data-toggle="tooltip" data-placement="bottom" title="L'adhérent est majeur ou l'accord parental est correctement remplis.">
                                    <label><input id="checkbox_parental_agreement" type="checkbox" ng-model="modalInfoSaison.validation_parental_agreement">Accord parental</label>
                                </div>
                                <div class="checkbox" data-toggle="tooltip" data-placement="bottom" title="L'adhérent a transmis son payment à un membre du bureau.">
                                    <label><input id="checkbox_payment_transmitted" type="checkbox" ng-model="modalInfoSaison.validation_payment_transmitted">Adhésion payée</label>
                                </div>
                                <div class="checkbox" data-toggle="tooltip" data-placement="bottom" title="Le montant de l'adhésion a été encaissé par le club.">
                                    <label><input id="checkbox_payment_cashed" type="checkbox" ng-model="modalInfoSaison.validation_payment_cashed">Adhésion encaissé</label>
                                </div>
                            </div>
                        </div>
                    </row>
                    <row>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="certificateLicenceFile" class="control-label">Attestation de licence FFESSM : </label>
                                <input class="btn" ngf-select id="certificateLicenceFile" ng-model="certificateLicenceFile" name="certificateLicenceFile" type="file" ngf-accept="'.pdf'" ngf-pattern="'.pdf'" ngf-max-size="1MB">
                                <i ng-show="validationAdherentInfoSaisonForm.certificateLicenceFile.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 1M</i>
                                <i ng-show="validationAdherentInfoSaisonForm.certificateLicenceFile.$error.pattern">Erreur de format de fichier</i>
                                <button class="btn btn-warning" ng-click="certificateLicenceFile = null" ng-show="certificateLicenceFile">Annuler</button>
                                <button class="btn btn-info" type="submit" ng-click="certificateLicenceSubmit()" ng-show="certificateLicenceFile">Importer le fichier</button>
                                <div class="alert alert-info" ng-show="modalInfoSaison.fk_certificate_licence_id"><a href="{{getCertificateLicenceUrl(modalInfoSaison)}}" target="_blank">Télécharger le fichier existant</a></div>
                            </div>
                            <div class="form-group">
                                <label for="validation_commentaire" class="col-sm-2 control-label">Commentaire</label>
                                <textarea id="validation_commentaire" type="textarea" rows="3" class="form-control" ng-model="modalInfoSaison.validation_comment" style="resize:vertical;" />
                            </div>
                        </div>
                    </row>
                    <row ng-show="modeDebug">
                        <div class="col-sm-12">
                            <h2 class="page-header">Debug</h2>
                            <row>
                                <div class="col-md-6">
                                    <pre>modalInfo = {{modalInfo | json}}</pre>
                                </div>
                                <div class="col-md-6">
                                    <pre>modalInfoSaison = {{modalInfoSaison | json}}</pre>
                                </div>
                            </row>
                        </div>
                    </row>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button " class="btn btn-success " data-dismiss="modal" ng-click="saveItem()">Sauvegarder</button>
                <button type="button " class="btn btn-default " data-dismiss="modal" ng-click="refreshList()">Fermer</button>
            </div>
        </div>

    </div>
</div>

<div class="row " ng-show="modeDebug ">
    <div class="col-md-12 ">
        <h2 class="page-header ">Debug</h2>
        <pre>currentSaisonId = {{currentSaisonId | json}}</pre>
        <pre>saisonList = {{saisonList | json}}</pre>
        <pre>adherentList = {{adherentList | json}}</pre>
    </div>
</div>
