<div class="row">
    <div class="col-md-12">

        <h2>Liste des équipes</h2>

        <div class="form-group row">
            <label for="selectSaison" class="col-sm-3 control-label">Saison</label>
            <div class="col-sm-3">
                <select id="selectSaison" class="form-control" ng-model="currentSaisonId" ng-options="saison.id as saison.label for saison in saisonList" required="required">
                </select>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <tbody>
                    <tr>
                        <th>Equipe</th>
                        <th>Classeur</th>
                    </tr>
                    <tr ng-repeat="team in teamList">
                        <td>{{team.label}}</td>
                        <td class="text-center">
                            <a href="{{getBinderUrl(team)}}" target="_blank">
                                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="row " ng-show="modeDebug ">
    <div class="col-md-12 ">
        <h2 class="page-header ">Debug</h2>
        <pre>currentSaisonId = {{currentSaisonId | json}}</pre>
        <pre>teamList = {{teamList | json}}</pre>
    </div>
</div>
