<div class="row">
    <div class="col-md-12">
        <h2>Liste des adhérents</h2>
        <article ng-show="users.length">
            <p>
                Chaîne de caractères à chercher : <input type="text" ng-model="searchText" />
            </p>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <tbody>
                        <tr>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Numéro de téléphone</th>
                            <th>Date de naissance</th>
                            <th>Numéro de licence</th>
                            <th>Type de licence</th>
                            <th>Type d'adhésion</th>
                            <th>Assurance piscine</th>
                        </tr>
                        <tr ng-repeat="user in users | filter:searchText" ng-click="gotoEditForm(user)">
                            <td>{{user.firstname}}</td>
                            <td>{{user.lastname}}</td>
                            <td>{{user.telNumber}}</td>
                            <td>{{user.birthday | date:'MM/dd/yyyy'}}</td>
                            <td>{{user.licenceNumber}}</td>
                            <td>{{user.licenceType}}</td>
                            <td>{{user.membershipType}}</td>
                            <td>{{user.assurance}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </div>
</div>

<div class="row" ng-show="modeDebug">
    <div class="col-md-12">
        <h2 class="page-header">Debug</h2>
        <pre>users = {{users | json}}</pre>
    </div>
</div>
